<nav class="bg-white h-full">

    <ul class="flex flex-col items-center justify-start list-none pt-16 font-bold text-2xl border-r-1 h-full">

        <li class="text-center w-full p-4"><a routerLink="/feed/following" routerLinkActive="text-slate-400">Following</a></li>
        <li class="text-center w-full p-4"><a routerLink="/feed/explore" routerLinkActive="text-slate-400">Explore</a></li>
        <li class="text-center w-full p-4"><a routerLink="/search" routerLinkActive="text-slate-400">Search</a></li>
        <li class="text-center w-full p-4"><a routerLink="/posts/create" routerLinkActive="text-slate-400">Create</a></li>
        <li class="text-center w-full p-4"><a routerLink="/profile/me" routerLinkActive="text-slate-400">Your profile</a></li>

    </ul>

</nav>
