<nav class="bg-white h-full">

    <ul class="w-full flex flex-col items-center justify-start list-none px-4 font-bold text-2xl border-r-1 h-[100vh] gap-2">

        <li class="w-full mt-8 mb-4 flex items-center justify-center">

            @if (username() && profilePictureUrl()) {

                <a routerLink="/profile/me" routerLinkActive="bg-blue-300/20" class="py-4 px-6 hover:bg-blue-200/20 hover:rounded-xl rounded-2xl w-full flex flex-col items-center justify-center">

                    <img [src]="profilePictureUrl()" class="h-24 w-24 rounded-full mb-2" alt="Your profile picture" />

                    <p>&#64;{{ username() }}</p>

                </a>



            } @else {

                <a routerLink="/profile/me" routerLinkActive="bg-blue-300/20 rounded-xl" class="py-4 px-6 hover:bg-blue-200/20 hover:rounded-xl rounded-2xl w-full flex flex-col items-center justify-center">

                    <img src="/anonymous-pfp.webp" class="h-24 w-24 rounded-full mb-2" alt="Your profile picture" />

                    <p>&#64;{{ username() }}</p>

                </a>

            }

        </li>

        <li class="w-full flex items-center justify-center">
            <a routerLink="/feed/following" routerLinkActive="bg-blue-300/20 rounded-xl" class="py-4 px-6 hover:bg-blue-200/20 hover:rounded-xl w-full">

                <svg viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg" stroke-width="3" stroke="#000000" fill="none" class="size-6 inline w-8 h-8">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M51.61,25.21,33.2,11.4a2,2,0,0,0-2.4,0L12.39,25.21a2,2,0,0,0-.8,1.6V53.45a2,2,0,0,0,2,2H25a2,2,0,0,0,2-2V45a2,2,0,0,1,2-2h7a2,2,0,0,1,2,2v8.45a2,2,0,0,0,2,2H50.41a2,2,0,0,0,2-2V26.81A2,2,0,0,0,51.61,25.21Z"></path></g>
                </svg>

                Following
            </a>
        </li>
        <li class="w-full flex items-center justify-center">
            <a routerLink="/feed/explore" routerLinkActive="bg-blue-300/20 rounded-xl" class="py-4 px-6 hover:bg-blue-200/20 hover:rounded-xl w-full">

                <svg fill="#000000" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" class="size-6 inline w-8 h-8">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M22.912 8.758l-9.786 4.207c-0.177 0.090-0.32 0.233-0.411 0.411l-4.483 9.038c-0.184 0.36-0.117 0.798 0.166 1.087 0.181 0.184 0.426 0.282 0.673 0.282 0.139 0 0.279-0.030 0.41-0.094l9.554-3.968c0.175-0.084 0.32-0.221 0.413-0.391l4.715-9.278c0.201-0.363 0.141-0.813-0.145-1.111-0.288-0.298-0.737-0.371-1.105-0.184zM11.183 20.776l2.719-5.553 2.746 3.437zM18.272 17.488l-2.775-3.473 5.525-2.18zM16 0c-8.836 0-16 7.163-16 16s7.163 16 16 16c8.837 0 16-7.163 16-16s-7.163-16-16-16zM16 30.032c-7.72 0-14-6.312-14-14.032s6.28-14 14-14 14 6.28 14 14-6.28 14.032-14 14.032z"></path> </g>
                </svg>

                Explore

            </a>
        </li>
        <li class="w-full flex items-center justify-center">
            <a routerLink="/search" routerLinkActive="bg-blue-300/20 rounded-xl" class="py-4 px-6 hover:bg-blue-200/20 hover:rounded-xl w-full">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                </svg>

                Search

            </a>
        </li>
        <li class="w-full flex items-center justify-center">
            <a routerLink="/posts/create" routerLinkActive="bg-blue-300/20 rounded-xl" class="py-4 px-6 hover:bg-blue-200/20 hover:rounded-xl w-full">

                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 inline w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>

                Create

            </a>
        </li>

    </ul>

</nav>
