<article class="w-full flex flex-col md:flex-row items-center justify-around bg-white px-3 md:px-15 py-4 lg:py-8 md:py-4 shadow-lg">

    <div class="w-full md:w-[20%] flex justify-around md:justify-center items-center mb-5 md:mb-0">

        @if (profile().profilePictureUrl) {

            <img class="h-20 w-20 md:h-40 md:w-40 rounded-full" [src]="profile().profilePictureUrl" [alt]="profile().username + ' profile picture'">

        } @else {

            <img class="h-20 w-20 md:h-40 md:w-40 rounded-full" src="/anonymous-pfp.webp" [alt]="profile().username + ' profile picture'">

        }

        <h1 class="text-3xl font-bold md:hidden">{{ profile().username }}</h1>

    </div>

    <div class="flex flex-col items-end justify-evenly w-[80%] gap-6">

        <h1 class="text-3xl font-bold hidden md:block">{{ profile().username }}</h1>

        <span class="flex items-center justify-evenly gap-4">

            @if (userMetadata()) {

                <p><b>{{ userMetadata().posts }}</b> Posts</p>
                <a routerLink="/profile/my-followers" class="cursor-pointer"><b>{{ userMetadata().followers }}</b> Followers</a>
                <a routerLink="/profile/my-following" class="cursor-pointer"><b>{{ userMetadata().following }}</b> Following</a>

            } @else {
                <p class="text-red-800 text-xl">Could not load user metadata</p>
            }

        </span>

        <p class="text-lg lg:text-xl text-end">{{ profile().bio }}</p>

        <span class="flex items-center justify-evenly gap-4">

            <a class="py-2 px-4 rounded-xl bg-blue-200 font-bold hover:scale-110 tracking-wide" routerLink="/profile/settings">Settings</a>
            <button class="py-2 px-4 rounded-xl bg-blue-200 font-bold cursor-pointer hover:scale-110 tracking-wide" (click)="shareProfile()">Share</button>

        </span>

    </div>

</article>
