<section class="w-full min-h-[100vh] bg-gradient-to-r from-blue-300 to-blue-400 flex items-center justify-center">

    <div class="w-[95%] lg:w-[60%] bg-white min-h-[60vh] lg:min-h-[80vh] rounded-xl flex flex-col items-center justify-items-start text-xl p-8 gap-2">

        <h1 class="text-2xl font-bold mb-4">Account settings</h1>

        <a class="flex items-center justify-between w-[95%] lg:w-[80%] hover:text-gray-500 cursor-pointer" routerLink="/profile/update-password">

            Change password

            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 7L15 12L10 17" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>

        </a>

        <a class="flex items-center justify-between w-[95%] lg:w-[80%] hover:text-gray-500 cursor-pointer" routerLink="/profile/edit">

            Edit profile

            <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="h-8 w-8"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M10 7L15 12L10 17" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>

        </a>


    </div>

</section>
