<section class="bg-slate-200 flex flex-col items-center justify-between p-4 py-8 rounded-3xl w-[90%] md:w-[40%] justify-self-center">

    <h1 class="font-bold text-2xl my-7">Check your inbox for a verification code.</h1>

    @if (error()) {

        <p class="text-red-600 font-bold text-xl">{{ error() }}</p>

    }

    <form class="flex flex-col items-center justify-between w-full" [formGroup]="form" (ngSubmit)="submitted$.next()">

        <input type="text" name="username" id="username" class="bg-white rounded-xl p-2 py-5 my-4 m-2 w-[50%]" placeholder="Your verification code..." formControlName="code">

        @if (codeInvalidFormat){
            <p class="text-red-800 text-lg">Code must be 6 digits and only numbers.</p>
        }

        <input type="submit" value="Submit your code" class="bg-cyan-300 rounded-xl p-2 m-2 w-[95%] font-bold cursor-pointer" [disabled]="codeInvalidFormat">

    </form>

</section>
