<section class="bg-slate-200 flex flex-col items-center justify-between p-4 py-8 rounded-3xl w-[90%] md:w-[40%] justify-self-center">

    <form class="flex flex-col items-center justify-center gap-4" [formGroup]="form" (ngSubmit)="submitted$.next()">

        @if(!success()) {

            <h1 class="text-2xl font-bold mb-4">Update your password</h1>

            @if (error()) {

                <p class="text-red-600 font-bold text-xl">{{ error() }}</p>

            }

            <input type="password" name="new_pw_1" id="new_pw_1" placeholder="Your new password..." class="p-4 rounded-xl w-[95%] lg:w-[80%] bg-white" formControlName="newPassword">

            <input type="password" name="new_pw_2" id="new_pw_2" placeholder="Confirm your new password..." class="p-4 rounded-xl w-[95%] lg:w-[80%] bg-white" formControlName="confirmPassword">

            @if (newPasswordInvalid) {
                <p class="text-red-800 text-lg">New password must be between 8 and 100 characters.</p>
            }

            @if (passwordsDontMatch) {
                <p class="text-red-800 text-lg">The passwords do not match.</p>
            }

            <!--
            @if (responseError()) {
                <p class="text-red-800 text-lg">{{ responseError() }}</p>
            } -->

            <button type="submit" class="py-4 px-6 bg-blue-300 rounded-xl font-bold" [disabled]="form.invalid || passwordsDontMatch">Set new password</button>

        } @else {

            <h1 class="text-2xl font-bold mb-4">Password reset successfully!</h1>

            <p>You can log in with your new password now.</p>

            <a routerLink="/auth/login" class="text-blue-400">Log in</a>

        }

    </form>

</section>
