<section class="flex flex-col items-center justify-center">

    @if(error()){

        <p class="text-red-800 text-2xl">{{ error() }}</p>
    }

    @if (postData()) {

        <app-post-fullscreen [postData]="postData()!" [postMedia]="postData()!.media" [postMetadata]="postMetadata()!" (likeAdded)="increaseLikeCountOnNewLike()" (likeRemoved)="decreaseLikeCountOnRemovedLike()"/>

        <app-comment-list [postId]="postData()!.postId" (createdComment)="increaseCommentCountOnNewComment()" (deletedComment)="decreaseCommentCountWhenDeleteComment()"/>

    }

</section>
