<div class="fixed top-0 left-0 w-full h-full flex items-center justify-center z-1000 modal-overlay-animate bg-gray-900/40" (click)="closeModal.emit()">

    <div class="bg-gray-900 rounded-lg shadow-xl max-w-md w-full max-h-[80vh] overflow-y-auto animate-in zoom-in-95 slide-in-from-bottom-4 duration-300 flex flex-col items-center gap-8 justify-center p-12 modal-content-animate"
         (click)="$event.stopPropagation()">

        @if (postOwnedByCurrentUser()) {
            <button class="text-2xl text-gray-100 hover:text-red-500 hover:scale-105" (click)="doDeletePost()">Delete post</button>
        }

        @if (postOwnedByCurrentUser()) {
            <a class="text-2xl text-gray-100 hover:text-gray-400 hover:scale-105" [routerLink]="'/posts/update/' + postId()">Edit post</a>
        }

        <button class="text-2xl text-gray-100 hover:text-gray-400 hover:scale-105" (click)="sharePost()">Share</button>

        <button (click)="closeModal.emit()">

            <svg fill="#f3f4f6" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 hover:scale-105 text-gray-100">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M0 14.545L1.455 16 8 9.455 14.545 16 16 14.545 9.455 8 16 1.455 14.545 0 8 6.545 1.455 0 0 1.455 6.545 8z" fill-rule="evenodd"></path> </g>
            </svg>

        </button>

    </div>

</div>
